body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 430px;
    background-color: aqua;
    height: 470px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.display {
    width: 400px;
    height: 100px;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;;
}

.cancelAndBackspace {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
}

.clear, .backspace {
    width: 60px;
    height: 45px;
    margin-right: 46.5px;
    font-size: 20px;
}

.backspace {
    width: 60px;
    height: 45px;
    margin-right: 29.5px;
}

.backspace_img {
    width: 35px;
    height: 35px;
    margin-top: 3px;
}

.buttonsrow {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.buttonStyle {
    width: 60px;
    height: 45px;
    margin-right: 10px;
    font-size: 20px;
}

.equalButton {
    background-color: skyblue;
}

